<div>
  <h3><span class="icon-uniE18E" aria-hidden="true" style="font-size: 20px;"></span> 订单列表</h3>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"><span class="icon-whatshot" aria-hidden="true"></span> 订单列表</h3>

    </div>
    <div class="panel-body">
      <div class="row">

        <table class="table table-hover table-bordered">
          <thead>
          <tr>
            <th>订单OID</th>
            <th>订单UID</th>
            <th>订单影片集合</th>
            <th>订单总金额</th>
            <th>订单时间</th>
            <th>动作</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let order of orders">
            <th scope="row"><a [routerLink]="['/pay', { type: 'detail',rid: order.rid }]" >{{order.rid}}</a></th>
            <td>{{order.uid}}</td>
            <td>{{order.mids}}</td>
            <td>{{order.sum}}</td>
            <td>{{order.time}}</td>
            <td style="width: 50px;">
              <button type="button" class="btn btn-xs btn-danger" (click)="delete(order.rid)">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              </button>
            </td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>

</div>
