<div class="detail">

  <div class="main row">
    <div class="col-md-5">
      <img src="{{imageServer}}images/{{movie.mid}}/picture.jpg" class="img-thumbnail">
    </div>
    <div class="col-md-7">
      <h1 class="title">{{movie.name}}</h1>

      <div class="row" style="margin-left: 5px">
        <span class="glyphicon glyphicon-shopping-cart addcart" aria-hidden="true" (click)="this.appCom.add(movie)"> 加入购物车</span>
        <hr/>
        <span style="color: crimson;font-size: 25px;font-weight: bolder"> ${{movie.score}}</span>
      </div>

      <div class="row">

        <div class="col-md-8">
          <h4 class="small-title">影片类别</h4>
          <p>{{movie.genres}}</p>
        </div>
      </div>

    </div>
  </div>

  <div class="second row">
    <div class="col-md-6">
      <h2 style="margin-top: 0px;">{{movie.descri}}</h2>
    </div>
    <div class="col-md-6">
      <p>{{movie.shoot}} G {{movie.timelong}}</p>
      <h4 class="small-title">影片语言</h4>
      <p>{{movie.language}}</p>
      <h4 class="small-title">影片导演</h4>
      <p>{{movie.directors}}</p>
      <h4 class="small-title">影片演员</h4>
      <p>{{movie.actors}}</p>
      <h4 class="small-title">影片上映日期</h4>
      <p>{{movie.issue}}</p>
    </div>

  </div>

  <h3 *ngIf="this.appCom.isLogin()"><span class="icon-pin4" aria-hidden="true" style="font-size: 20px;"></span> 我的评论</h3>
  <div class="row youtag" *ngIf="this.appCom.isLogin()">
    <div class="col-md-12">
        <app-star #scorebar [currentValue]=0 [mid]=movie.mid></app-star>
        <textarea #tagname class="form-control" rows="3" style="margin-bottom: 10px;"></textarea>
        <button class="btn btn-default" type="button" (click)="addMyComment(movie.mid,tagname.value)"><span class="glyphicon glyphicon-plus" aria-hidden="true">提交</span></button>
    </div>
  </div>

  <h3><span class="glyphicon glyphicon-bullhorn" aria-hidden="true" style="font-size: 20px"></span> 大家的评论</h3>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"><span class="icon-whatshot" aria-hidden="true"></span> 订单列表</h3>

    </div>
    <div class="panel-body">
      <div class="row">

        <table class="table table-hover table-bordered">
          <thead>
          <tr>
            <th>评论UID</th>
            <th>评论分数</th>
            <th>评论描述</th>
            <th>评论时间</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let movieCommnent of this.movieComments">
            <th style="width: 100px">{{movieCommnent.uid}}</th>
            <td style="width: 150px"><app-star [currentValue]=movieCommnent.score [mid]=movieCommnent.mid ></app-star></td>
            <td>{{movieCommnent.tag}}</td>
            <td style="width: 150px">{{movieCommnent.timestamp}}</td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>

  <!--<div class="grid grid-pad">
    <div class="row">
      <div class="col-md-12" *ngFor="let movieCommnent of this.movieComments" style="margin-bottom: 2px">



        {{movieCommnent.tag}}
      </div>
    </div>
  </div>-->

  <h3><span class="glyphicon glyphicon-film" aria-hidden="true" style="font-size: 20px;"></span> 相似推荐</h3>
  <p class="descri">MovieLens guess movies same with {{movie.name}}</p>
  <div class="grid grid-pad">
    <div class="row">
      <div class="col-lg-2 col-md-2" *ngFor="let sameMovie of sameMovies"><app-thumbnail [movie]="sameMovie"></app-thumbnail></div>
    </div>
  </div>

</div>
